apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-pznlimvl
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-pznlimvl:fc2476f8f4717c52bac5217c252946a78d4513ef@sha256:5dca6ac9efc1dfba9aa83ba9b382e4b4e63929064445a2438b85cf8ed2e52bad
        name: container-image  
